@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  }
  .btn:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  }

  .btn:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  }

  .carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 24px;
  }

  .carousel-content.show-4 > * {
    width: calc(100% / 4);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    width: 1px;
    background: #e7e7e7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #41522e;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}

#root {
  height: 100vh;
}
